<head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
</head>

<div class="content">
	<center>
	<h3>Having trouble logging in?</h3><br>
	<a href="/">Try Again</a> or <a href="/register">Create A New Account</a>
	<br>
</div>