<head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
</head>

<div id="greeting">
	<h4>Welcome, <%= @user.name %>!</h4>
</div>

<div class="col-1">
	<br>
	<h4><a href="/events">View Upcoming Events</a></h4>
	<h4><a href="/my-events">My Events</a></h4>
	<br>
</div>

