<h2>User Login Page</h2>
<form action="/login" method="POST">
	<label>Email:</label>
		<input type="email" name="email">
	<br>
	<label>Password:</label>
		<input type="password" name="password">
	<br>
	<input type="submit" value="Submit">
	<br>
	<br>
</form>

<a href="/register">Create A New Account</a>

