<head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
</head>

<div id="top">
	<h3 class="greeting">Welcome, <%= @user.name %>!</h3>
	<a href="/logout">Logout</a>
</div>

<div class="content">
	<h4>List of Events</h4>
</div>
 
</body>