<head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/template.css" />
</head>

<h3>Welcome, <%= @user.name %>!</h3>
	<div class="content">
		 <b>List of Events</b>
	</div>
 
	<a href="/logout">Logout</a>
</body>