<form action="/home" method="POST">
	<label>Email:</label>
		<input type="email" name="email">
	<label>Password:</label>
		<input type="password" name="password">
	<input type="submit" value="Submit">
	<br>
	<br>
</form>

<a href="./new">Create A New Account</a>

