<h2>Uh oh! Looks like that event already exists.</h2>
<h4>Create A New Event</h4>

<form action="/events" method="POST">
	<label>Name:</label>
		<input type="text" name="event[name]" id="event_name">
		<br>
	<label>Location:</label>
		<input type="text" name="event[location]" id="event_location">
		<br>
	<label>Date:</label>
		<input type="date" name="event[event_date]" id="event_date">
		<br>
	<label>Start:</label>
		<input type="time" name="event[start_time]" id="event_start">
		<br>
	<label>End:</label>
		<input type="time" name="event[end_time]" id="event_end">
		<br>
	<input type="submit" value="Submit">
</form>