<head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
</head>
<div class="content">
	<h3 class="title">List of Events</h3>
	<br>
		<% @events.each do |el| %>
			<% @el = el %>
			<ul>
			  <li><a href="/events/<%= @el.id %>"><%= el.title %></a></li>
			</ul>
		<% end %>
	<br>
	<br>
	<a href="/events/new" class="submit-button">Create New Event</a>
	<br>
	<br>
</div>

