<head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
</head>
<div>
	<% @user.rsvps.each do |el| %>
		<% @el = el %>
		<% binding.pry %>
		<% if @el.user_id == session[:id] %>
			<a href="/events/<%= @el.id %>"><li><%= el.title %></li></a>
		<% end %>
	<% end %>
</div>