<head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
</head>
<div>
	<% binding.pry %>
	<% @user.rsvps.each do |el| %>
		<% binding.pry %>
		<% @el = el %>
			<a href="/events/<%= @el.id %>"><li><%= el.title %></li></a>
	<% end %>
</div>