<head>
	<link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
</head>
<main>
	<div class="event-list">
		<% @user.rsvps.each do |el| %>
			<% @event = Event.find_by("id" => el.event_id) %>
			<ul>
				<li class="item"><a href="/events/<%= @event.id %>"><%= @event.title %></a></li>
			</ul>
			<form action="/rsvp/<%= @event.id %>" method="POST">
		        <input id="hidden" type="hidden" name="_method" value="DELETE">
		        <input type="submit" value="Remove" class="remove">
	    	</form>
	    	<br>
		<% end %>
	</div>
</main>