<head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
</head>
<div>
	<% @user.rsvps.each do |el| %>
		<% binding.pry %>
		<% @event = Event.find_by("id" => el.event_id) %>
		<a href="/events/<%= @event.id %>"><li><%= @event.title %></li></a>
	<% end %>
</div>