<center><h1>EZ RSVP</h1>

<body>
	<div>
		<h3>THIS IS THE ROOT PAGE</h3>
	</div>

	<div>
		<form action="/login" method="POST">
			<label>Email:</label>
				<input type="email" name="email">
			<label>Password:</label>
				<input type="password" name="password">
		<input type="submit" value="Login">
		<br>
		<br>
		<a href="/register">Create A New Account</a>
		</form>
	</div>
</body>

<footer>
</footer>