<head>
	<link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
</head>
<main>	

	<div id="login">
		<fieldset>
		<form action="/sessions/login" method="POST">
		  	<p>
			  <label for="email">Email</label>
				<input type="email" name="email" placeholder="user@gmail.com" required>
			</p>
			<p>
			  <label for="password">Password</label>
				<input type="password" name="password" placeholder="1234" required>
			</p>
			<p>
			  <input type="submit" value="Login">
			</p>
			  <br>
			  <br>
			<a href="../registrations/new">Create A New Account</a>
		</form>
		</fieldset>
	</div>
</main>
<!-- 	<div id="login">
		<form action="/sessions/login" method="POST">
			<label for="email">Email </label>
				<input type="email" name="email" placeholder="user@gmail.com" required>
			<label for="password">Password </label>
				<input type="password" name="password" placeholder="1234" required>
			<input type="submit" value="Login">
		</form>

		<a href="../registrations/new">Create A New Account</a>
	</div> -->