<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>EZ RSVP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
  </head>
  <body>
    <!--Flex Container -->
    <div id="wrapper">
      <div id="topnav">
        <ul>
          <li><a href="/" id="logo">EZ RSVP</a></li>
          <% if @user %>
            <li><a href="/my-events">My Events</a></li>
            <li><a href="/logout">Logout</a></li>
          <% else %>
           <li><a href="/">Login</a></li>
           <li><a href="../registrations/new">Sign Up</a></li>
        </ul>
          <% end %>
      </div>

      <main>
        <%= yield %>
    <!--     <img src="https://www.craigbeck.com/wp-content/uploads/2018/07/positive-energy.jpeg" alt="sand" class="responsive"> -->
      </main>

      <footer>
        <small>&copy; 2019 <strong>EZ RSVP</strong></small>
      </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </div>
  </body>
</html>
