<main>
	<div id="greeting">
		<h3>Welcome, <%= @user.name %>!</h3>
	</div>

	<div class="col-1">
		<br>
		<h4><a href="/events">Upcoming Events</a></h4>
		<h4><a href="/rsvps">RSVP List</a></h4>
		<h4><a href="/events/my-events">My Created Events</a></h4>
		<br>
	</div>
</main>

