<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
</head>
<main>
	<h3>Uh oh. Looks like that email address is already taken!</h3>
	<h2>Please try and <a href="/">login</a> or <a href="/registrations/new">create a new account</a></h2>
</main>