html {
	margin: 0 auto;
	padding: 0 50px;
	max-width: 1220px;
}

footer {
	text-align: center;
}

form {
	width: 75%;
	height: 450px;
	margin: auto;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
}

input {
	width: 35%;
	height: 20px;
	font-size: 20px;
}

input[type=text] {
	width: 60%;
	box-sizing: border-box;
	height: 28px;
}

.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

#logo {
	float: left;
	font-size: 30px;
	text-decoration: none;
	color: #7382be;
}

#login {
	font-size: 20px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.topnav {
	float: right;
	text-decoration: none;
}

.topnav a {
	padding: 6px;
	text-decoration: none;
}

.heading {
	text-align: center;
	font-size: 30px;
}

div.greeting {
	text-align: left;
	font-size: 30px;
}

input.submit-button {
	display: inline-block;
	border: none;
	border-radius: 6px;
	background: #7382be;
	color: #fff;
	height: auto;
	text-align: center;
	letter-spacing: .1em;
	text-transform: uppercase;
}

a {
	color: #7382be;
	text-decoration: none;
}

