html {
	margin: 0 auto;
	padding: 40px;
}

footer {
	text-align: center;
}

form {
	width: 75%;
	height: 450px;
	margin: auto;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
}

input {
	width: 35%;
	height: 20px;
	font-size: 20px;
}

input[type=text] {
	width: 60%;
	box-sizing: border-box;
	height: 28px;
}

#wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

#topnav {
    float: left;
    width: 20%;
    overflow: hidden;
}
ul {
	list-style-type: none;
}

#logo {
	float: left;
	font-size: 30px;
	text-decoration: none;
	color: #7382be;
}

#login {
	float: right;
	font-size: 20px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 10px;
}


.heading {
	text-align: center;
	font-size: 30px;
}

div#greeting {
	text-align: left;
	padding-top: 20px;
}


input.submit-button {
	display: inline-block;
	border: none;
	border-radius: 6px;
	background: #7382be;
	color: #fff;
	height: auto;
	text-align: center;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.col-1 {
	float: left;
	border: none;
	width: 50%;
	height: 100px;
}

.col-2 {
	float: right;
	margin-left: 5px;
}

a {
	color: #7382be;
	text-decoration: none;
}

