html {
	margin: 0 auto;
	padding: 40px;
}

footer {
	text-align: center;
}

label {
	width: 4em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
}

input .submit {
	margin-left: 4.5em;
	color: #000;
	background: #ffa20f;
	border: 5px outset #d7b9c9
}

input {
	color: #781351;
	background: #fee3ad;
	border: 1px solid #781351;  
}

fieldset {
	border: 1px solid #781351;
	width: 20em;
}

main {
	overflow: hidden;
}

.col-1 {
	float: left;
	border: none;
	width: 50%;
	height: 100px;
}

.col-2 {
	float: right;
	margin-left: 5px;;
}


/*input {
	width: 35%;
	height: 20px;
	font-size: 20px;
}

input[type=text] {
	width: 60%;
	box-sizing: border-box;
	height: 28px;
}

#wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

#topnav {
    float: left;
    width: 20%;
}

ul {
	list-style-type: none;
}

#logo {
	float: left;
	font-size: 30px;
	text-decoration: none;
	color: #7382be;
}

#login {
	float: right;
	font-size: 20px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 10px;
}


.heading {
	text-align: center;
	font-size: 30px;
}

div#greeting {
	text-align: left;
	padding-top: 20px;
}


input.submit-button {
	display: inline-block;
	border: none;
	border-radius: 6px;
	background: #7382be;
	color: #fff;
	height: auto;
	text-align: center;
	letter-spacing: .1em;
	text-transform: uppercase;
}




input.delete {
	background-color: #ff0000;
	border-radius: 6px;
	text-align: center;
}

a {
	color: #7382be;
	text-decoration: none;
}

*/