<div class="about">
	<p>Simplify the planning process with <strong>FACT</strong>ivity, a free event management tool for every occasion.</p>
</div>	
<fieldset>
	<form action="/sessions/login" method="POST">
		<p>
			<label for="email">Email</label>
			<input type="email" name="email" placeholder="user@gmail.com" required>
		</p>
		<p>
			<label for="password">Password</label>
			<input type="password" name="password" placeholder="1234" required>
		</p>
		<p>
			<input type="submit" value="Login">
		</p>
		<br>
			<a href="../registrations/new">Create A New Account</a>
	</form>
</fieldset>
