<div class="col-1">
	<h2 class="title">Create A New User</h2>
	<form action="/registrations" method="POST">
		<label>Name:</label>
			<input type="text" name="user[name]" id="name">
			<br>
		<label>Email:</label>
			<input type="email" name="user[email]" id="email">
			<br>
		<label>Password:</label>
			<input type="password" name="user[password]" id="user_password">
			<br>
			<br>
		<input type="submit" value="Sign Up" class="submit-button">
	</form>
</div>